

* {
outline: none;
}


body{

background-color: #303030;
color: #fff;
/*overflow: hidden;*/

}


.mdl-layout__tab-bar,
.mdl-layout__header{

background-color: #212121

}

.mdl-layout__content{

/*margin: 15px;*/
/*overflow: hidden;*/
/*height: 100%;*/

}


.page-content{

/*height: 100%;*/

}


.mdl-layout__drawer.is-visible{

background-color: #424242;
border-right: 0px;
color: #fff;
overflow: hidden;

}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{

color: #dcdcdc;

}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
background-color: #212121;
}


.mdl-layout__drawer-button a{

color: white;

}



.mdl-layout__tab .material-icons{

font-size: 24px;
padding-top: 10px;
color: #424242;

}

.mdl-layout__tab.is-active .material-icons{

color: #fff

}


.mdl-navigation-bottom{

bottom: 0px;
position: absolute;
width: 100%;
text-align: right;

}




.dialog{

background-color: transparent;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 4;
visibility: hidden;
transition-property: background-color;
transition-duration: .2s;
transition-timing-function: cubic-bezier(.4,0,.2,1);

}


.dialog.is-visible {
pointer-events: auto;
opacity: 1;
background-color: rgba(0,0,0,.5);
visibility: visible;
}




.demo-card-dialog{

top: 30vh;
width: 80vw !important;
margin: 0px auto;
min-height: unset;
height: unset;
background-color: #424242;

}


.demo-card-dialog .mdl-card__title{

color: #fff;

}


.demo-card-dialog .mdl-card__supporting-text{

color: rgba(255,255,255,.54)

}

.demo-card-dialog .mdl-card__actions.mdl-card--border {
    border-top: 1px solid rgba(255,255,255,.1);
}



.mselab-feature{

/*margin-bottom: 15px;*/
/*border-bottom: 1px solid rgba(255,255,255,.1);*/

}



.mselab-feature .mdl-switch{

color: #424242;

}


.mselab-feature .mdl-switch.is-checked{

color: #fff;

}


.mselab-feature .name{

line-height: 24px;
font-size: 16px;


}

.mselab-feature .value{

float: right;
font-weight: bold;

}

.mdl-switch__thumb {

background: #424242;

}


.mselab-feature .mdl-radio__label{

/*font-size: 14px;*/

}
.mselab-feature .context{

    font-size: 11px;
    color: #808080;
    line-height: 12px;

}


.mselab-feature .mdl-grid{

    margin: 0;
    padding: 0;

}


.mdl-radio__outer-circle{

    border-color: #242424;


}


hr{

display: block;
height: 1px;
border: 0;
border-top: 1px solid #292929;
margin: 9px -15px;
padding: 0;

}


.float-button{

bottom: 0;
position: absolute;
margin: 0 calc(50% - 36px);
z-index: 10;

}

.float-button.float-button-right{

bottom: 0;
right: 0;
position: absolute;
margin: 0;

}

.float-button .mdl-button{

background-color: #009688 !important;
color: #fff !important;

}


.float-button .mdl-button.mdl-button-big{

width: 72px !important;
height: 72px !important;

}


.float-button .mdl-button.mdl-button-big i{

font-size: 40px;
width: 40px;
-webkit-transform: translate(-20px,-12px);
transform: translate(-20px,-12px);

}


/*.mdl-layout__header{*/

/*height: 56px;*/

/*}*/




.meteocons#meteo-icon{

font-size: 30vw;
/*position: absolute;*/
left: 0;
bottom: 15vw;
color: #18ffff;
/*text-shadow: 0px 0px 100px #18ffff;*/

}


#meteo-leyend{

/*margin-left: 30vw;*/
z-index: 99999999;
/*position: absolute;*/
bottom: 0;
margin-bottom: 10px; */

}

.text-result{

    margin-top: 60px;

}

.text-result #title{

color: #09beb5;
font-size: 24px;
margin-left: 5px;


}


.title-page{
color: #09beb5;
font-size: 19px;
margin-left: 5px;
margin-bottom: 10px;

}


ul.menu-tab {
    list-style: none;
    padding: 0;
    margin: 0;

    background-color: #212121;
    position: absolute;
    width: 100vw;
    margin-left: -15px;
    bottom: -15px;
    height: 50px;
    /*padding-top: 13px;*/

}
ul.menu-tab li {

    width: 50%;
    text-align: center;
    padding-top: 13px;
    border-top: 2px solid transparent;


}

.menu-tab {
    display: flex;
    justify-content: space-around;



}

ul.menu-tab li.customtab-active{
    border-top: 2px solid #18ffff;

}



.float-small{
margin: 0 0;
width: 100%;
}

.float-button.float-small button{

background-color: transparent !important;
width: 28px !important;
height: 28px !important;

}


/*.float-button.float-small button i{*/

/*font-size: 32px;*/

/*}*/


.float-small button + button{
float: right;
}



.mdl-list__item--three-line.list-active{

background-color: #424242;

}

section{

min-height: calc(100vh - 55px);
margin: auto 0px;
padding-top: 80px;

}