{% load staticfiles %}

<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="shortcut icon" target="_blank" href="/static/images/favicon.png"/>-->

    <!--título de página-->
    <title>Yeison Cardona</title>

    <!--descripción de página-->
    <meta name="description" content="Python Ninja!!"/>

    <!--robots-->
    <meta name="robots" content="noindex" />


    {% include "djangoforandroid/mdl.html" %}
    <link rel="stylesheet" href="{% static "themes/material.teal-cyan.min.css" %}">
    <link rel="stylesheet" href="{% static "custom-mdl.css" %}">


</head>
<body>


<!-- Always shows a header, even in smaller screens. -->


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">


  <header class="mdl-layout__header">

    <div class="mdl-layout__drawer-button" tabindex="0" role="button" aria-expanded="false">
      <i class="material-icons" style="margin-top: 12px;">menu</i>
    </div>


    <div class="mdl-layout__header-row">
      <!-- Title -->
      <!--<span class="mdl-layout-title">Yeison N. Cardona A.</span>-->

      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#cv-me">Me</a>
        <a class="mdl-navigation__link" href="#cv-skills">Skills</a>
        <a class="mdl-navigation__link" href="#cv-contact">Contact</a>
      </nav>


      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" target="_blank" href="https://bitbucket.org/YeisonEng/"><i class="fa fa-2x fa-bitbucket pull-right" style="line-height: 27px;"></i></a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#cv-me"><i class="material-icons" style="margin-right: 15px">person</i> Me</a>
      <a class="mdl-navigation__link" href="#cv-skills"><i class="material-icons" style="margin-right: 15px">star</i> Skills</a>
      <a class="mdl-navigation__link" href="#cv-contact"><i class="material-icons" style="margin-right: 15px">email</i> Contact</a>
      <hr>

      <!--<a class="mdl-navigation__link" target="_blank" href="https://plus.google.com/u/0/+YeisonCardona/posts"><i class="material-icons" style="margin-right: 15px">email</i> Google plus</a>-->
      <a class="mdl-navigation__link" target="_blank" href="https://twitter.com/yeisoneng"><i class="fa fa-twitter" style="font-size: 24px; width: 24px; line-height: 24px; margin-right: 15px"></i> @yeisoneng</a>
      <a class="mdl-navigation__link" target="_blank" href="https://plus.google.com/u/0/+YeisonCardona/posts"><i class="fa fa-google-plus" style="font-size: 24px; width: 24px; line-height: 24px; margin-right: 15px"></i> Google plus</a>
      <a class="mdl-navigation__link" target="_blank" href="https://bitbucket.org/YeisonEng/"><i class="fa fa-bitbucket" style="font-size: 24px; width: 24px; line-height: 24px; margin-right: 15px"></i> Bitbucket</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
        {% block content %}{% endblock %}
    </div>
  </main>
</div>



</body>

</html>
