<div class="mdl-grid" id="cv-contact">
  <div class="mdl-cell--1-offset-desktop">
      <h3>Contact<br>
      <small>Say hello and ask me about my cat.</small>
    </h3>
  </div>
</div>
<!--<hr>-->

<div class="mdl-grid">
  <div style="text-align: right;" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-cell--1-offset-desktop">

  </div>

  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone  mdl-cell--5-col-tablet mdl-cell--8-col-desktop">

  </div>

  <!--<dl class="dl-horizontal row">-->
      <div style="text-align: right;" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-cell--1-offset-desktop">Twitter</div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone  mdl-cell--5-col-tablet mdl-cell--8-col-desktop"><a href="https://twitter.com/yeisoneng">@yeisoneng</a></div>
      <div style="text-align: right;" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-cell--1-offset-desktop">Main email</div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone  mdl-cell--5-col-tablet mdl-cell--8-col-desktop"><a href="mailto:yeisoneng@gmail.com">yeisoneng AT gmail.com</a></div>
      <div style="text-align: right;" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-cell--1-offset-desktop">Institutional email</div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone  mdl-cell--5-col-tablet mdl-cell--8-col-desktop"><a href="mailto:yencardonaal@unal.edu.co">yencardonaal AT unal.edu.co</a></div>
      <div style="text-align: right;" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-cell--1-offset-desktop">Cities</div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone  mdl-cell--5-col-tablet mdl-cell--8-col-desktop">Manizales (Caldas), Colombia</div>
      <div style="text-align: right;" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-cell--1-offset-desktop"></div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone  mdl-cell--5-col-tablet mdl-cell--8-col-desktop">Viterbo (Caldas), Colombia</div>
      <!--<dd class="col-md-offset-2 col-md-9 col-xs-7">Cartago (Valle), Colombia</div>-->
      <!--<dd class="col-md-offset-2 col-md-9 col-xs-7">Pereira (Risaralda), Colombia</div>-->
      <div style="text-align: right;" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-cell--1-offset-desktop">Cell phone</div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone  mdl-cell--5-col-tablet mdl-cell--8-col-desktop"><abbr title="Phone">P:</abbr> (+57) 300 872 9952</div>
      <div style="text-align: right;" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-cell--1-offset-desktop">Coffee?</div>
      <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone  mdl-cell--5-col-tablet mdl-cell--8-col-desktop">Yes please <i style="color: rgb(24,255,255)" class="fa fa-coffee"></i></div>
  <!--</dl>-->




</div>

