{% extends "base.html" %}

{% block content %}
    <section style="padding-top: 0;" id="cv-me">
    {% include "me.html" %}
    </section>

    <section style="background-color: white;">
    {% include "skills.html" %}
    </section>

    <section>
    {% include "contact.html" %}
    </section>
{% endblock %}