<div class="mdl-grid">
  <div class="mdl-cell--1-offset-desktop">
    <h3>Yeison N. Cardona A.<br>
    <small>Python Ninja</small>
    </h3>
  </div>
</div>
<hr>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop mdl-cell--1-offset-desktop">

    <p class="text-left">
      I am trying to be an Electronic Engineer, passionate about everything related to programming using
      <a href='https://www.python.org/'>Python</a>, I am an <a href='https://www.archlinux.org/'>Arch Linux</a> user,
      I like see anime, currently I am developer in <a href='http://pinguino.cc/'>Pinguino Project</a>,
      halftime procrastinator, my life soundtrack is always something of
      <a href='http://en.wikipedia.org/wiki/Melodic_death_metal'>Melodic death metal</a> (or some anime song).<br>
      I love working on projects of Software and/or Hardware.
      I do not speak much, just the necessary.
    </p>
    <p class="text-left">
      My weapons: a Toshiba, two liters of coffee (per day), a cat, and a lot of online documentation.
    </p>

    <p class="text-left">
      <s>And single (for the girls).</s>
    </p>


  </div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
    <img src="http://www.gravatar.com/avatar/9fa2e5df40aba92507f5a2ea7b3c3d63?s=512" style="border-radius: 50%;
width: 512px;
margin: 0px auto;
max-width: 512px;
display: block;" alt="">

  </div>

</div>

