<div class="mdl-grid" id="cv-skills">
  <div class="mdl-cell--1-offset-desktop" style="color: black;">
    <h3>Skills<br>
    <small>Interests and software that I use.</small>
    </h3>
  </div>
</div>

<div class="mdl-grid">

  {% for skill, lista in skills.items %}
  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--3-col-desktop mdl-cell--1-offset-desktop">
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float: right;">
{{skill}}
  <!--Button-->
</button>

  </div>

  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone  mdl-cell--5-col-tablet mdl-cell--8-col-desktop">


    {% for sk in  lista %}
      <!--<a class="btn btn-md btn-info-outline" href="{{sk.0}}" role="button">{{sk.1}}</a>-->
      <button class="mdl-button mdl-js-button" style="background-color: white; color: #009688; border: 1px solid rgb(0, 150, 136); margin-bottom: 3px; text-transform: unset;">
        {{sk.1}}
      </button>


    {% endfor %}

  </div>


{% endfor %}


</div>

